/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap"); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

 img{
  display: block;
  margin: auto;
  width: 20px;
}

.container{
  display:flex; 
  justify-content:center;
  margin-top: 12px;
}
#main{
  display: grid;
    grid-template-columns: 65px 60px;
    grid-gap: 8px;
}
#main3{
  height: 1px;
  width: 52px;
  position: relative;
  top: 316px;
}
#main4{
  display: grid;
    grid-template-columns: 45px;
    grid-gap: 8px;
}
#main2{
  display: grid;
  grid-template-columns: 65px 60px;
  grid-gap: 8px;
}

.no{
  display: grid;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
}






/* // dropdown */
.dropdown{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.selectbtn{
  background-color: #e7f5ff;
  border: none;
  color: black;
  padding: 5px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 5px 0px 15px 0px;
  cursor: pointer;
  font-weight: 500;
}
.bus{
  font-size: 16px;

}

.dat{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.searchbtn{
  display: flex;
  justify-content: center;
}
#amtdtls{
  text-align: center;
  margin-top: 20px;
}
#month{
  margin-right: 23px;
}
#day{
  margin-right: 25px;
}
.notf{
  text-align: center;
  color: green;
  font-size: 15px;
  background-color:#e7f5ff ;
}
#dt{
  color: red;
  text-align: center;
  font-size: 15px;
}
.seatno{
  text-align: center;
}


#ticket-no{
  color: black;
  font-size: large;
  font-weight: 600;
}
#ticket-amount{
  color: black;
  font-size: large;
  font-weight: 600;
}
.book{
  display: flex;
  justify-content: center;
}
.button3 {background-color: #008CBA;
  border: none;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
} 
.button3 a{
  text-decoration: none;
  color: black;
}
.button2 {background-color: #008CBA;
  border: none;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
} 
.button2 a{
  text-decoration: none;
  color: black;
}
.place{
  display: flex;
}
#from{
  margin-right: 42px;
}
#submitbtn{
  padding: 12px;
  border-radius: 6px;
  font-size: 10px;
    background-color: #e693d2;
}
.availability{
  display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 12px;
}
.available{
  margin-top: -59px;
    font-size: 76px;
    color: #e2d7d7;
}
.booked{
  margin-top: -59px;
    font-size: 76px;
    color:red;
}